<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue JS - Practice</title>
</head>

<body>
  <div id="app">
    <header>
      <div>
        <h1 v-text="sitename"></h1>
      </div>
      <button type="button" class="btn btn-light btn-icon-left btn-icon btn-checkout" 
        @click="showCheckout">
        <svg class="bi icons-color-dark" width="20" height="20">
          <use xlink:href="~bootstrap-icons/bootstrap-icons.svg#basket" />
        </svg>
        Checkout {{ cartItemCount }}
      </button>
    </header>
    <main>
      <div class="container">
        <div class="row" v-if="showProduct">
          <div class="product-card col-lg-4">
            <div class="product-card__image">
              <figure>
                <img :src="product.image">
              </figure>
            </div>
            <div class="product-card__description">
              <h1>{{ product.title }}</h1>
              <p v-html="product.description"></p>
              <p class="">
                {{ product.price | formatPrice }}
              </p>
              <button class="btn btn-dark btn-icon-right btn-icon" type="button" @click="addToCart" 
                v-if="canAddToCart">
                Add to cart
                <svg class="bi icons-color-light" width="20" height="20">
                  <use xlink:href="~bootstrap-icons/bootstrap-icons.svg#cart-plus-fill" />
                </svg>
              </button>
              <button class="btn disabled btn-dark btn-icon-right btn-icon" type="button" 
                v-else>
                Add to cart
                <svg class="bi icons-color-light" width="20" height="20">
                  <use xlink:href="~bootstrap-icons/bootstrap-icons.svg#cart-plus-fill" />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-md-6">
            <strong>First Name:</strong>
            <input v-model.trim="order.firstName" class="form-control">
          </div>
          <div class="col-md-6">
            <strong>Last Name:</strong>
            <input v-model.trim="order.lastName" class="form-control">
          </div>
          <div class="form-group col-md-12">
            <div>
              <strong>Address:</strong>
            </div>
            <div>
              <input v-model.trim="order.address" class="form-control">
            </div>
          </div>
          <div class="form-group col-md-12">
            <div>
              <strong>City:</strong>
            </div>
            <div>
              <input v-model.trim="order.city" class="form-control">
            </div>
          </div>
          <div class="form-group col-md-2">
            <strong>State:</strong>
            <select v-model="order.state" class="form-control">
              <option disabled value="">State</option>
              <option 
                v-for="(state, key) in states"
                v-bind:value="state"
              >
              {{ key }}
              </option>
            </select>
          </div>
          <div class="form-group col-md-6 offset-md-4">
            <strong>Zip / Postal Code:</strong>
            <input v-model.number="order.zip"
              class="form-control"/> 
          </div>
          <div class="form-group col-md-6">
            <input type="checkbox" id="gift" value="true" 
            v-bind:true-value="order.sendGift"
            v-bind:false-value="order.dontSendGift"
            v-model="order.gift">
            <label for="gift">
              Ship As Gift?
            </label>
          </div>
          <div class="form-group col-md-6">
            <input type="radio"
              id="home"
              v-bind:value="order.home"
              v-model="order.method">
            <label for="home">Home</label>
            <input type="radio"
              id="business"
              v-bind:value="order.business"
              v-model="order.method">
            <label for="business">Business</label>
          </div>
          <div class="col-md-12 order-button">
            <button type="submit" class="btn btn-lg btn-success submit" @click="submitForm">Place order</button>
          </div>
          <div class="col-md-12">
            <pre>
              FirstName: {{ order.firstName }}
              LastName: {{ order.lastName }}
              Address: {{ order.address }}
              City: {{ order.city }}
              Zip: {{ order.zip }}
              State: {{ order.state }}
              Method: {{ order.method }}
              Gift: {{ order.gift }}
            </pre>
          </div>
        </div>  
      </div>
    </main>
  </div>
</body>

</html>